body {
	font-size: 16px;
	line-height: 1.7;
	color: #999;
}
.spacial_area {padding: 30px 0;}
.styled_bg1 {background-image: url('img/bg2.jpg')}
.styled_bg2 {background-image: url('img/bg1.jpg')}
.styled_bg_inner {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
}
.styled_bg {
	height: 520px;
	position: relative;
	z-index: 2;
	margin-left: -80px;
	margin-bottom: 100px;
}
.styled_bg:after {
  position: absolute;
  left: -30px;
  top: 30px;
  height: 100%;
  width: 100%;
  background: #F4F4F4;
  content: "";
  z-index: -1;
}
.styled_bg::before {
	position: absolute;
	right: 25%;
	bottom: -65px;
	height: 100px;
	width: 2px;
	background: #99493C;
	content: "";
}
h2.special_section_titile {
	background: #fff;
	margin-left: -269px;
	position: relative;
	z-index: 3;
	font-size: 67px;
	padding: 25px 40px;
	font-weight: 700;
	margin-top: 40px;
	margin-bottom: 0;
	color: #000;
}
.right_side h2.special_section_titile {
	margin-left: -42px;
	margin-right: -210px;
}
.right_side .styled_bg {
	margin-left: 0;
	margin-right: -100px;
}
.right_side .styled_bg::after {
	left: auto;
	right: -30px;
}
.right_side .styled_bg::before {
	right: ;
	right: auto;
	left: 30%;
}
a.inine_border_btn {
	position: relative;
	text-decoration: none;
	font-weight: 700;
	color: #000;
}
a.inine_border_btn::after {
	left: 0;
	bottom: -10px;
	height: 2px;
	width: 95px;
	content: "";
	background: #B94341;
	display: block;
	position: absolute;
}